{% extends 'Base.html'%}
{%block content%} 
    <section class="home-section">
        <div class="text"><b>Return Book</b></div>

        <div class="optionsDiv">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <select id="selectField">

                <option value="Filter" selected><b>Filter</b></option>
                <option value="Name">Name</option>
                <option value="Status">Status</option>
                <option value="Author">Author</option>
                <option value="Type">Type</option>
                <option value="Date in">Date in</option>

            </select>


        </div>
        <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
        <div class="content-container">
        <table class="content-table">
            <thead>
                <tr>
                    <th> </th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Author</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for temp in issue %}
                <tr>
                    <td><input type="checkbox" id="select-row"></td>
                    <th>{{temp.book.name}}</th>
                    {% if temp.returned == 0 %}
                        <th>Borrowed</th>
                    {% else %}
                        <th>Returned</th>
                    {% endif %}
                    <th>{{temp.book.author}}</th>
                    <th>{{temp.book.category}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <!-- <div class="input-group">
            <div class="input-group-prepend">
                <button class="page-control input-group-text bg-primary btn btn-primary px-3" id="page-select-prev">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>

            <select id="page-select" class="form-control bg-primary text-light " aria-label="Page select" aria-describedby="page-select-input">
                <option value="1">
                    1 / 1

                </option>
            </select>
            <div class="input-group-append">
                <button class="page-control input-group-text bg-primary btn btn-primary px-3" id="page-select-next">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div> -->

        <div class="ReturnBook">
            <button class="ReturntheBook"> Return book </button>
        </div>

    </section>

    {%endblock%}


