{% extends 'Base.html'%}
{% load static %}
{%block content%} 
  <section class="home-section">
      <div class="text">Profile
          <div class=e86_7489>
            <div class=e86_7520>
              <div class=e86_7521><span  class="e86_7522">MSSV:</span>
                <div class=e86_7523><span  class="e86_7524">19127442 </span></div>
              </div>
            </div>
            <div class=e86_7525>
              <div class=e86_7526><span  class="e86_7527">Name:</span>
                <div class=e86_7528><span  class="e86_7529">Nguyen Van A</span></div>
              </div>
            </div>
            <div class=e86_7530>
              <div class=e86_7531><span  class="e86_7532">Occupation:</span>
                <div class=e86_7533><span  class="e86_7534">Student</span></div>
              </div>
            </div>
            <div class=e86_7535>
              <div class=e86_7536><span  class="e86_7537">Location:</span>
                <div class=e86_7538><span  class="e86_7539">None</span></div>
              </div>
            </div>
            <div class=e86_7540>
              <div class=e86_7541><span  class="e86_7542">Departments:</span>
                <div class=e86_7543><span  class="e86_7544">Information Technology</span></div>
              </div>
            </div>
          </div>
          <div class=e86_7466><span  class="e86_7467">Details</span></div>
          <div class="e86_7465"></div>
          <div class=e86_7546>
            <div class="ei86_7546_0_1210"></div>
          </div>
  </section>

  {%endblock%}