<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> Library Management System </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/Base.css'%}">
        <link rel="stylesheet" href="{% static 'css/Mylibrary_style.css'%}">
        <link rel="stylesheet" href="{% static '/css/return_style.css'%}">
        <link rel="stylesheet" href="{% static 'css/Dashboard_style.css'%}">
        <link rel="stylesheet" href="{% static 'css/setting_style.css'%}">

        <!-- Boxicons CDN Link -->
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
<div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="{% url 'Dashboard' %}">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>

            <li>
                <b>
                </b>
                <a href="{% url 'Mylibrary' %}">
                    <i class='bx bx-wallet'></i>
                    <span class="links_name">My Library</span>

                </a>
                <span class="tooltip">My Library</span>

            </li>

            <li>
                <a href="{% url 'Returnbook' %}">
                    <i class='bx bx-calendar-event'></i>
                    <span class="links_name">Return Book</span>
                </a>
                <span class="tooltip">Return Book</span>
            </li>

            <li>
                <a href="{% url 'Setting' %}">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Setting</span>
                </a>
                <span class="tooltip">Setting</span>
            </li>
            
            <li>
                <a href="#">
                    <i class='bx bx-help-circle'></i>
                    <span class="links_name">Help</span>
                </a>
                <span class="tooltip">Help</span>
            </li>

            <li class="profile">
                <div class="profile-details">
                    <img src="{% static 'images/profile_img/user1.jpg'%}" alt="profileImg">
                    <div class="name_job">
                        <div class="name">Nguyen Van A</div>
                        <div class="job">Student</div>
                    </div>
                </div>
                <a href="{% url 'Login' %}" onclick="return confirm('Do you really want to logout?');">   
                <i class='bx bx-log-out' id="log_out"></i> 
                <span class="links_name">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>
 
    {%block content%}
    {%endblock%}
    
    <script src="{% static 'js/Mylibrary.js'%}"></script>
    <script src="{% static 'js/return_script.js'%}"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="{% static 'js/DashBoard.js'%}"></script>
    <script src="{% static 'js/setting_script.js'%}"></script>

    </body>
</html>
